<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG'about</title>
</head>
<body>
<h1><p><strong>Hi there!</strong></p></h1>
<h2><p><strong><em>It works!</em></strong></p></h2>

    <div>
            <h1><a href="/">BLOG'about</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">This is first <strong><em>POST</em></strong> here</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Second <strong><em>POST</em></strong> My second post</a></h2>
            <p>Donec id elit non mi porta gravida at eget metus.</p>
        </div>

</body>
</html>